@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #374958;
}

/* MAIN LAYOUT */

.container {
  font-size: 1.2rem;
  height: 100%;
  position: relative;
}

.title {
  color: #252525;
  border-bottom: 2px solid #2abd67;
}

.active {
  background-color: #2abd6770;
  border-left: 4px solid #2abd67;
}

i {
  margin: 0 0.2em !important;
}

/* HEADER */

.header {
  text-align: center;
  padding: 0.5em;
}

/* MAIN */

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.main-left,
.main-right {
  padding: 0 1em;
  height: 100%;
  width: 100%;
}

.main-right {
  background-color: #ececec;
}

.main-section-container,
.projects-section-container {
  margin: 1.2em 0;
}

.projects-section-container {
  margin-bottom: 0;
}

/* NAV BAR */

.nav-bar {
  display: grid;
  padding-left: 0.4em;
}

.projects-title,
.main-title,
.project-title {
  margin-bottom: 0.5em;
}

.home-section,
.projects-section {
  margin: 1em 0;
}

.tab,
.modal-tab {
  margin: 0.5em;
  padding: 0.3em;
  border-radius: 5px;
  cursor: pointer;
}

.tab {
  list-style-type: none;
}

.tab:hover,
.modal-tab:hover {
  background-color: #2abd6770;
}

/* TODO ITEMS */

.project-title {
  text-align: center;
}

.todo-container {
  display: grid;
  gap: 1.5em;
}

.todo-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2abd67;
  font-size: 1.1rem;
}

.low {
  border-left: 7px solid green;
}

.medium {
  border-left: 7px solid orange;
}

.high {
  border-left: 7px solid red;
}

.todo-info,
.todo-option {
  margin: 0 0.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-option {
  flex-direction: column;
}

.todo-name {
  margin: 0 0.3em;
}

.true {
  text-decoration: line-through;
  color: lightgrey;
}

/* PROJECT */

.active-project-title {
  font-size: 2rem;
  padding: 0.5em;
  background-color: #2abd67;
  text-align: center;
  margin: 1em 0;
  color: whitesmoke;
  border-radius: 7px;
}

.project-tab {
  display: inline-flex;
  justify-content: space-between;
}

/* BUTTONS */
.btn {
  cursor: pointer;
  background-color: #2abd67;
  box-shadow: 0px 11px 14px -7px #3e7327;
  text-shadow: 0px 1px 0px #5b8a3c;
  font-size: 1.5rem;
  color: whitesmoke;
}

.add-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn:hover {
  background-color: #2abd67cb;
}

.btn:active {
  background-color: #2abd67b6;
}

.add-project-btn,
.add-todo-btn {
  width: 100%;
  border-radius: 7px;
  border: none;
  padding: 0.2em 0.5em;
}

.fa-regular:hover {
  color: green;
}

.fa-square-check {
  color: green;
}

.todo-btn,
.exit-btn {
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
}

.todo-option-btns {
  margin: 0.2em 0;
}

.exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
}

/* MODAL */

.todo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(37, 37, 37, 0.7);
}

.modal-inner {
  position: absolute;
  z-index: 9999;
  background-color: whitesmoke;
  max-width: 500px;
  width: 90%;
  padding: 1em;
  font-size: 1.2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select {
  outline-color: #2abd67;
  padding: 0.7em;
  margin-bottom: 0.7em;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */

@media (min-width: 750px) {
  .main {
    grid-template-columns: 4fr 6fr;
    grid-template-rows: auto;
  }

  .container {
    font-size: 1.5rem;
  }

  .add-btn {
    font-size: 2rem;
    display: block;
    position: static;
    width: 125px;
    border: none;
    border-radius: 7px;
    margin: 10px auto 0 auto;
  }
}
